.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.AddHeroForm {
  background-color: aquamarine;
  flex: 1;
}

.HeroTable {
  background-color: blueviolet;
  flex: 1;
  max-width: 38%;
}

.HeroTablediv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.HeroItem {
  width: 200px;
  background-color: cornflowerblue;
  margin: 10px;
  padding: 5px;
}

.HeroItem button {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.HeroInfo {
  background-color: darkslateblue;
  flex: 1;
}

.HeroInfoTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
